<app-menu></app-menu>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Administrador de Empleados</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" 
     aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active"> <!-- preguntar que acá ↓ no pude pasar null y pasé undefined -->
              <button class="btn btn-primary btn-md">
                 <a class="nav-link" (click)="onOpenModal(undefined, 'add')">Agregar Empleado<span class="sr-only">(current)</span></a>
              </button>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
           <!-- en un input puedo llamar una función, #key="ngModel" le paso el valor ngModel a key -->
           <input type="search" (ngModelChange)="buscarEmpleados(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Buscar empleado..." required>
       </form>
    </div>
  </nav>
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container" id="main-container"> <!-- le agrego un id para poder referenciarlo en TS -->
      <div class="row">
          <div *ngFor="let empleado of empleados" class="col-md-6 col-xl-3">
              <!-- el ngFor va en el elemento anterior a la card que repito -->
              <div class="card m-b-30">
                    <div class="card-body row">
                      <div class="col-6"> <!-- el ? se asegura de que exista -->
                          <a href=""><img src="{{empleado?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                      </div>
                      <div class="col-6 card-title align-self-center mb-0">
                          <h5>{{empleado?.nombre}}</h5>
                          <p class="m-0">{{empleado?.puestoDeTrabajo}}</p>
                      </div>
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email: <a href="#">{{empleado?.email}}</a></li>
                      <li class="list-group-item"><i class="fa fa-phone float-right"></i>Celu: {{empleado?.telefono}}</li>
                  </ul>
                  <div class="card-body">
                      <div class="float-right btn-group btn-group-sm">
                          <a (click)="onOpenModal(empleado, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                          <a (click)="onOpenModal(empleado, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                      </div>
                      <!-- dejar de ejemplo en caso de que quiera agregar 3 botones seguidos -->
                      <!--
                      <ul class="social-links list-inline mb-0">
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                          <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                      </ul>
                      -->
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <!-- Agregar Employee Modal -->
  <div class="modal fade" id="addEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="addEmpleadoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Agregar Empleado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            
            <!-- recordar esta forma dificil de declarar forms para Angular onAddEmpleado (una función creada por mi) -->
            <form #addForm="ngForm" (ngSubmit)="onAddEmpleado(addForm)">
            
            <div class="form-group">
               <label for="name">Nombre</label>
               <!-- notar como cada campo necesita ngModel name="name" -->
               <input type="text" ngModel name="nombre" class="form-control" id="name" placeholder="Nombre" required>
            </div>
  
            <div class="form-group">
               <label for="email">Email</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
  
            <div class="form-group">
               <label for="phone">Puesto de Trabajo</label>
               <input type="text" ngModel name="puestoDeTrabajo" class="form-control" id="jobTile" placeholder="Puesto de trabajo" required>
            </div>
            <div class="form-group">
               <label for="phone">Teléfono</label>
               <input type="text" ngModel name="telefono" class="form-control" id="phone" placeholder="Teléfono" required>
            </div>
            <div class="form-group">
               <label for="phone">URL Imagen</label>
               <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Dirección Imagen" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-empleado-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
               
               <!-- si el form es invalido, poner disabled -->
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
            </form> 
         </div>
      </div>
    </div>
  </div>
  
  <!-- Editar Empleado -->
  <div class="modal fade" id="updateEmpleadoModal" tabindex="-1" role="dialog" 
     aria-labelledby="empleadoEditModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="updateEmpleadoModalLabel">Editar Empleado {{editarEmpleado.nombre}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #editarForm="ngForm">
                 <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" ngModel="{{editarEmpleado.nombre}}" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="Nombre">
                 </div>
                 <input type="hidden" ngModel="{{editarEmpleado.id}}" name="id" class="form-control" id="id" placeholder="Id">
                 <input type="hidden" ngModel="{{editarEmpleado.codigoEmpleado}}" name="codigoEmpleado" class="form-control" id="codigoEmpleado" placeholder="codigoEmpleado">
                 <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" ngModel="{{editarEmpleado.email}}" name="email" class="form-control" id="email" placeholder="Email">
                 </div>
                 <div class="form-group">
                    <label for="phone">Puesto de Trabajo</label>
                    <input type="text" ngModel="{{editarEmpleado.puestoDeTrabajo}}" name="puestoDeTrabajo" class="form-control" id="puestoDeTrabajo" placeholder="Puesto de trabajo">
                 </div>
                 <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="text" ngModel="{{editarEmpleado.telefono}}" name="telefono" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
                 </div>
                 <div class="form-group">
                    <label for="phone">URL Imagen</label>
                    <input type="text" ngModel="{{editarEmpleado.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="URL Imagen">
                 </div>
                 <div class="modal-footer">
                    <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                    <button (click)="onUpdateEmpleado(editarForm.value)" data-dismiss="modal" class="btn btn-primary">Guardar Cambios</button>
                 </div>
              </form>
           </div>
        </div>
     </div>
   </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Borrar Empleado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <p>Estas seguro que querés eliminar al empleado {{borrarEmpleado.nombre}}?</p>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                 <!-- click listener al botón -->
                 <button (click)="onDeleteEmpleado(borrarEmpleado.id)" class="btn btn-danger" data-dismiss="modal">Si</button>
              </div>
           </div>
        </div>
     </div>
   </div>
  
  <!-- Como usar un ngIf para mostrar o no un modal -->
  <!-- Notification for no employees -->
  <div *ngIf="empleados?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO HAY EMPLEADOS!</h4>
    <p>No se encontraron empleados.</p>
  </div>
  
  </div>