
<div class="registration-container">
    <h2>Registrate</h2>
       
    <form (ngSubmit)="onRegisterSubmit()" class="form" enctype="multipart/form-data">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nombre completo</mat-label>
        <input matInput type="text" placeholder="Escribe tu nombre completo" [(ngModel)]="fullName" name="fullName" required>
      </mat-form-field>
      
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ingresa tu mail" [(ngModel)]="email" name="email" required>
      </mat-form-field>
      
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Edad</mat-label>
        <input matInput type="number" placeholder="¿Qué edad tienes?" [(ngModel)]="age" name="age" required>
      </mat-form-field>
      
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>¿Para qué usarias nuestra app?</mat-label>
        <mat-select [(ngModel)]="role" name="role" required>
          <mat-option value="seller">Vender</mat-option>
          <mat-option value="buyer">Comprar</mat-option>
          <mat-option value="both">Ambos</mat-option>
        </mat-select>
      </mat-form-field>
      
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" placeholder="Escribe tu contraseña aqui" [(ngModel)]="password" name="password" required>
      </mat-form-field>   
      
  
      <button mat-raised-button color="primary" type="submit">Registrarse</button>
    </form>
    
  </div>
  