<app-menu></app-menu>
<div class="container mt-4">
  <h2>Bienvenido al mercado!</h2>
  <app-agregar-equipo></app-agregar-equipo>
  <hr>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let gear of fishingGearList">
      <div class="card">
        <img class="card-img-top" src="src/assets/venta.png" alt="Fishing Gear">
        <div class="card-body">
          <h5 class="card-title">{{ gear.name }}</h5>
          <p class="card-text">{{ gear.description }}</p>
          <p class="card-text"><strong>Price:</strong> ${{ gear.price }}</p>
          <p class="card-text"><strong>Type:</strong> {{ gear.isReel ? 'Reel' : 'Rod' }}</p>
          <p class="card-text"><strong>Model:</strong> {{ gear.model }}</p>
          <p class="card-text"><strong>Time of Usage:</strong> {{ gear.timeOfUsage }}</p>
          <button class="btn btn-primary">Edit</button>
          <button *ngIf="isAdmin" class="btn btn-danger" (click)="deleteGear(gear.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
