<!--<div *ngFor="let post of posts" class="col-md-6 col-xl-3">
    
    <div class="card m-b-30">
       <div class="card-body row">          
          <div class="col-6 card-title align-self-center mb-0">
             <h5>{{post.title}}</h5>
             <p class="m-0">{{post.text}}</p>
          </div>
       </div> -->

<div class="col-md-6 col-xl-8">
   <p>titulo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid dolore dolor tempora perferendis molestiae expedita, reiciendis dolorum illum libero? Error, quis modi molestiae provident possimus optio minima quaerat? Quas!</p>
</div>
<div class="col-md-6 col-xl-8">
   <p>titulo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid dolore dolor tempora perferendis molestiae expedita, reiciendis dolorum illum libero? Error, quis modi molestiae provident possimus optio minima quaerat? Quas!</p>
</div>

<div class="col-md-6 col-xl-8">
   <p>titulo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid dolore dolor tempora perferendis molestiae expedita, reiciendis dolorum illum libero? Error, quis modi molestiae provident possimus optio minima quaerat? Quas!</p>
</div>

<div class="col-md-6 col-xl-8">
   <p>titulo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid dolore dolor tempora perferendis molestiae expedita, reiciendis dolorum illum libero? Error, quis modi molestiae provident possimus optio minima quaerat? Quas!</p>
</div>

<div class="col-md-6 col-xl-8">
   <p>titulo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid dolore dolor tempora perferendis molestiae expedita, reiciendis dolorum illum libero? Error, quis modi molestiae provident possimus optio minima quaerat? Quas!</p>
</div>

<div class="col-md-6 col-xl-8">
   <p>titulo</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore aliquid dolore dolor tempora perferendis molestiae expedita, reiciendis dolorum illum libero? Error, quis modi molestiae provident possimus optio minima quaerat? Quas!</p>
</div>

