<div *ngFor="let post of posts">
   <div class="card  rounded border-dark post">
      <img src="../../../assets/pesca.jpg" class="card-img" alt="un pescador">
      <div class="card-img-overlay text-center">
         <h4 class="card-title text-capitalize font-weight-bold">{{post.title}}</h4>
         <br>
         <br>
         <br>
         <p class="card-body font-weight-normal">{{post.text}}</p> 
         <br>
         <br>
         <br>               
         <a class="card-footer font-italic font-weight-bold text-capitalize" href="/perfil/{{post.nombreUsuario}}"><small>Creado por {{post.nombreUsuario}}</small></a>
      </div>
   </div>
</div>


   
    

