<app-menu></app-menu>
<div class="feed">
<div class="col-md-6 col-xl-2">
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
</div>
<div class="col-md-6 col-xl-8">
    <app-crear-post></app-crear-post>
    <app-post></app-post>
</div>
<div class="col-md-6 col-xl-2">
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>
    <app-barra-lat-izq></app-barra-lat-izq>    
</div>
</div>
